<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../parcial/head.ejs') %>
        <link href="../css/main.css" rel="stylesheet">
    </head>
<body>
    <%- include('../parcial/header.ejs') %>
    <section class="content-section">   
        <% productos.forEach(producto=> { %> 
                    <a href="/product/list/<%= producto.id_product %>">
                        <article class="content-section-article">
                            <div class="div__img-producto">
                                <img src="/img/products/<%= producto.image %>" alt="Imagen" class="img-producto">
                            </div>
                            <div class="content-detalle">
                                <h4 class="image-decription__name"><%= producto.name %></h4>
                                <h4 class="image-decription__colors"><%= producto.colors %></h4>
                                <h4 class="image-decription__precio"><b>$<%= producto.price  %></b></h4>
                            </div>
                        </article>
                    </a>
    <% }) %>
    </section>
    <%- include('../parcial/footer.ejs') %>
</body>
</html>