<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../parcial/head.ejs') %>
        <link href="/css/productsDetail.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../parcial/header.ejs') %>
        <h1><%= producto.name %></h1>
        <h2>Precio:<%= producto.price %></h2>
        <h2>Año: <%= producto.anio %></h2>
        <h2>Descripción: <%= producto.description %></h2>
        <h2>Imagen:</h2>
        <div class="conten-img">
            <img src="/img/products/<%= producto.image %>" alt="imagenAuto" class="img">
        </div>
        <h2>Color: <%= producto.color.nombre %></h2>
        <h2>Modelo: <%= producto.modelo.tipo_de_modelo %></h2>
        <div>
            <button type="submit">COMPRAR</button>
        </div>
            <% if (locals.isLogged && locals.userLogged.id_category===1) { %> 
                <form action="/product/edit/<%= producto.id_product %>" method="GET">
                    <button type="submit">EDITAR</button>
                </form>

                <form action="/product/delete/<%= producto.id_product %>?_method=DELETE" method="POST">
                    <button type="submit" class="button">ELIMINAR</button>
                </form>
            <% } %>
        <%- include('../parcial/footer.ejs') %>
    </body>
</html>