<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="/css/editProduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN------------------------------->
    <main>
    <h1>Editar Producto</h1>
    <!-- <form action="#" method="post" > -->
    <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-edit">
        <label>Nombre de vehiculo</label>


        <input type="text" id="name" name="name" class="form-input"
        value="<%= locals.oldData ? oldData.name : producto.name %> %>">
                <% if (locals.errors && errors.name){ %>
                    <p class="alertError"><%= errors.name.msg %> </p>
                <% } %>


        <label>Precio del vehiculo</label>
        <input type="text" id="price" name="price" class="form-input"
        value="<%= locals.oldData ? oldData.price : producto.price %> %>">
                <% if (locals.errors && errors.price){ %>
                    <p class="alertError"><%= errors.price.msg %> </p>
                <% } %>

        <label>Color del vehiculo</label>
        <input type="text" id="colors" name="colors"  class="form-input"
                value="<%= locals.oldData ? oldData.colors : producto.colors %> %>">
                <% if (locals.errors && errors.colors){ %>
                    <p class="alertError"><%= errors.colors.msg %> </p>
                <% } %>
        
        <label>Categoria</label>
        <select class="form-input" id="category" name="category"> 
            <option value="sedan">Sedan</option> 
            <option value="coupe" >Coupe</option> 
        </select>
        <label>descripción</label>
        <textarea id="description" name="description"><%= producto.description %></textarea>
        
        <div class="SubirImagen">
            <label for="productImage" class="form-label">Imagen del producto:</label>
            <input type="file" id="image" name="image">
            <% if (locals.errors && errors.image){ %>
                <p class="alertError"><%= errors.image.msg %> </p>
            <% } %>
        </div>
        
        <div class="form-button-content">
            <button type="submit" class="form-button">Guardar</button>
        </div>
    </form>
    <form class="form-edit">
    <button type="submit" class="form-button">Cancelar</button>
    </form>
</main>
    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>