<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parcial/head.ejs') %>
        <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <%- include('./parcial/header.ejs') %>

        <main class="main">
            <h2 class="titulo_1_main">Autos Sedan</h2>
            <section class="content-section">
                <% productosSedan.forEach(producto=> { %>
                    <a href="/products/detail/<%= producto.id %>">
                        <article class="content-section-article">
                            <div class="div__img-producto">
                                <img src="/img/products/<%= producto.image %>" alt="Imagen" class="img-producto">
                            </div>
                            <div class="content-detalle">
                                <h4 class="image-decription__name"><%= producto.name %></h4>
                                <h4 class="image-decription__colors"><%= producto.colors %></h4>
                                <h4 class="image-decription__precio"><b>$<%= producto.price  %></b></h4>
                            </div>
                        </article>
                    </a>
                    <% }) %>
            </section>

            <h2>Autos Coupe</h2>
            <section class="content-section">
                <% productosCoupe.forEach(producto=> { %>
                    <a href="/products/detail/<%= producto.id %>">
                        <article class="content-section-article">
                            <div class="div__img-producto">
                                <img src="/img/products/<%= producto.image %>" alt="Imagen" class="img-producto">
                            </div>
                            <div class="content-detalle">
                                <h4 class="image-decription__name"><%= producto.name %></h4>
                                <h4 class="image-decription__colors  "><%= producto.colors %></h4>
                                <h4 class="image-decription__precio  "><b>$<%= producto.price  %></b></h4>
                            </div>
                        </article>
                    </a>
                    <% }) %>
            </section>
        </main>
        <%- include('./parcial/footer.ejs') %>
</body>
</html>