<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./parcial/head.ejs') %>
        <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <%- include('./parcial/header.ejs') %>
    <!-- Sedan -->
    <div class="content-servicios">
        <div class="content-servicios__div">           
            <i class="fa fa-users ico"></i>
            <h2>Sobre IKA</h2>
            <hr>
            <p class="parrafo">Dinámica, profesionalismo y tecnología a su servicio. Orientados en la atención al cliente y en su satisfacción total.</p>
            <a href="#""><i class="fa fa-angle-right"></i> Conozcanos</a>
        </div>
        <div class="content-servicios__div">
            <i class="fa fa-car ico"></i>
            <h2>IKA Auto</h2>
            <hr>
            <p class="parrafo">Ika Plan te permite acceder a tu Auto 0KM totalmente en cuotas sin interés.</p>
            <a href="#"><i class="fa fa-angle-right"></i> Ver modelos</a>
        </div>
    </div>

    <h2 class="h2">Autos Destacados</h2>

    <section class="content-section">   
        <% productos.forEach(producto=> { %> 
                    <a href="/product/list/<%= producto.id_product %>">
                        <article class="content-section-article">
                            <div class="div__img-producto">
                                <img src="/img/products/<%= producto.image %>" alt="Imagen" class="img-producto">
                            </div>
                            <div class="content-detalle">
                                <h4 class="image-decription__name"><%= producto.name %></h4>
                                <h4 class="image-decription__colors"><%= producto.colors %></h4>
                                <h4 class="image-decription__precio"><b>$<%= producto.price  %></b></h4>
                            </div>
                        </article>
                    </a>
    <% }) %>
    </section>
    </main>
        <%- include('./parcial/footer.ejs') %>
</body>
</html>