<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parcial/head.ejs') %>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <%- include('./parcial/header.ejs') %>

    <main class="main">
        <h2>Ofertas de la semana</h2>
        <section class="content-section">
            <% productosEnOferta.forEach(producto => { %>                
            <a href="/products/productDetail">
                <article class="content-section-article">
                    <div class="div__img-producto">
                        <img src="/img/products/Torino380.jpg" alt="Imagen" class="img-producto" >
                    </div>
                    <div class="content-detalle">
                        <h4>$<%= producto.price %></h4>
                        <h4><%= producto.colors %></h4>
                        <h4><b><%= producto.name %></b></h4>
                    </div>
                </article>
            </a>
            <% }) %> 
        </section>  
        
        <h2>Productos destacados</h2>
        <section class="content-section">
            <% productosVisitados.forEach(producto => { %>                
                <a href="/products/productDetail">
                    <article class="content-section-article">
                        <div class="div__img-producto">
                            <img src="/img/products/Torino380.jpg" alt="Imagen" class="img-producto" >
                        </div>
                        <div class="content-detalle">
                            <h4>$<%= producto.price %></h4>
                            <h4><%= producto.colors %></h4>
                            <h4><b><%= producto.name %></b></h4>
                        </div>
                    </article>
                </a>
                <% }) %> <!-- 
                <a href="/products/productDetail">
                    <article class="content-section-article">
                        <div class="div__img-producto">
                            <img src="/img/products/Calabera.jpg" alt="imagenCafetera" class="img-producto" >
                        </div>
                        <div class="content-detalle">
                            <h4>Lorem ipsum, st aut sint.</h4>
                        </div>
                    </article>
                </a>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/products/Bergantin.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/products/Dauphine.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/products/JeepWillys.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article> -->
        </section>        
    </main>        
    <%- include('./parcial/footer.ejs') %>
</body>
</html>