<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../parcial/head.ejs') %>
        <link href="/css/productList.css" rel="stylesheet">
    </head>
<body>
    <%- include('../../parcial/header.ejs') %>
    <ul>
        <% for (let i = 0; i < productos.length; i++){ %> 
        <li >
            <a href="/product/list/<%= productos[i].id_product %>"><%= productos[i].name %></a>
        </li>
        <% } %>
    </ul>
    <%- include('../../parcial/footer.ejs') %>
</body>
</html>