<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    
    <link href="/css/userProfile.css" rel="stylesheet">
</head>
<body>
    
    <%- include('../parcial/header.ejs') %> <br> <br>
    <main >
        <section class="fotoPerfil">
            <div class="profileImage">
            <img src="/img/avatar/<%= user.image %>">
            
        </div>
        </section> <br> <br>
            <div>
            <h1> Perfil de usuario </h1>
        </div>
        <section class="datosUsuario">
            <h2> <b>Datos de Usuario</b> </h2>
            <h3> Nombre: <%= user.firstName %> </h3>
            <h3> Correo Electrónico: <%= user.email %>  </h3>
            <h3> Fecha De Nacimiento: 10/10/1010 </h3>
            
        </section>
    </main>
    <%- include('../parcial/footer.ejs') %>
</body>
</html>